---
import Header from "./Header.astro";
import Container from "./ui/Container.astro";
---

<section class="bg-hero-pattern bg-cover bg-no-repeat h-screen relative">
  <div class="curso-spotlight"></div>
  <Container class="flex flex-col h-full">
    <Header />
    <div class="flex-1 flex items-start justify-center flex-col">
      <p class="text-3xl text-accent">
        <span class="text-secondary">{"<"}</span>{"hi there, I am"}<span
          class="text-secondary">{"/>"}</span
        >
      </p>
      <h1 class="hero-title font-bold text-slate-300">akhil</h1>
      <div class="hero-title text-[5rem] text-secondary font-bold leading-none">
        <p>I build intutive <span class="text-accent">UI</span></p>
        <p>Solutions</p>
      </div>
      <p
        class="max-w-2xl text-slate-300 mt-5 leading-relaxed font-light tracking-widest"
      >
        I’m a software engineer specializing in building pixel perfect user
        interface. Currently, I’m focused on building cool dashboards for IoT
        applications at Intellicar Telematics.
      </p>
    </div>
  </Container>
</section>

<script>
  const cursor: HTMLDivElement | null =
    document.querySelector(".curso-spotlight");

  document.addEventListener("mousemove", function (e) {
    const x = e.clientX;
    const y = e.clientY;
    if (cursor) {
      cursor.style.transform = `translate3d(calc(${e.clientX}px - 50%), calc(${e.clientY}px - 50%), 0)`;
    }
  });
</script>
