---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  variant?: "outline" | "primary" | "default";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  variant = "primary",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-5 py-2.5",
  lg: "px-6 py-3",
};

const variants = {
  outline: "border-2 border-black hover:bg-black text-black hover:text-white",
  primary:
    "bg-primary text-white hover:bg-slate-600 border-2 border-[rgba(255, 255, 255, 0.00)] btn-shadow rounded-[12px]",
  default: "bg-red text-white hover:bg-slate-900  border-2 border-transparent",
};
---

<button
  {...rest}
  class:list={[
    "rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    variants[variant],
    className,
  ]}
  ><slot />
</button>
